################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PA9.VC.VC.opendb
/.vs/PA9/v15
/PA9/Debug/Main.obj
